*, *::before, *::after {box-sizing: border-box;}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background: no-repeat center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #FFFFFF;

  transition: 1s ease-out;
}

.input {
  box-sizing: border-box;
  color: #ffffff;

  background: transparent;
  border: none;
  outline: none;
}

.button {
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
}

button:hover {
  cursor: pointer;
}

.button-scalable:active {
  transform: scale(0.9);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.time, .date, .greeting, .quote, .weather, .audio, .todo {
  transition: 1s;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 1 auto;
  height: 30vh; 
  padding: 2rem;
}

.audio-player {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem;
  font-size: 1.6rem;
  list-style: none;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  font-size: 1.6rem;

  background-color: rgba(255, 255, 255, .15); 
  backdrop-filter: blur(5px);
}

.prev-track {
  background: url(../img/svg/audio-prev.svg);
}

.play {
  background: url(../img/svg/audio-play.svg) center / contain;
}

.play-small {
  width: 1.6rem;
  height: 1.6rem;
}

.pause {
  background: url(../img/svg/audio-pause.svg) center / contain;
}

.next-track {
  background: url(../img/svg/audio-next.svg);
}

.unmute {
  background: url(../img/svg/audio-mute.svg);
}

.mute {
  background: url(../img/svg/audio-unmute.svg);
}

.volume-slider {
  position: relative;
  display: inline-block;
  width: 0.7rem;
  height: 51px;

  background-color: #FFFFFF;
}

.volume {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;

  background-color: #ff9100;
  pointer-events: none;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: white;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #ff9100;
}

.audio-track {
  display: flex;
  gap: 0.5rem;
}
.current-track {
  color: #ff9100;
}

.weather-container {
  max-width: 18rem;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 1.6rem;
}

.weather-input {
  width: 100%;
  padding: 0.5rem;
  
  border-bottom: 1px solid #FFFFFF;

  font-size: 2rem;
}

.weather-error {
  margin-top: -10px;
}

.weather-icon {
  width: 75px;
  height: 75px;

  background-position: center;
  background-size: contain;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex: 1 1 auto;

  height: 40vh;
}

.slider-button {
  position: absolute;
  top : 50%;
  transform: translateY(-50%);
}

.slider-button.left {
  background: url(../img/svg/slider-prev.svg); 
}

.slider-button.right {
  right: 0;

  background: url(../img/svg/slider-next.svg);
}

.slider-button:active {
  transform: translateY(-50%) scale(0.9);
}

.time,
.date,
.greeting-container {
  margin: 1rem 0;
  padding: 5px;

  /* color: #ffffff; */
  text-align: center;
}

.time {
  font-weight: 700;
  font-size: clamp(4.5rem, 10vw, 10rem);
} 

.date {
  font-size: clamp(1.5rem, 2vw, 2.4rem);
}

.greeting-container {
  display: flex;
  gap: 1rem;

  font-size: clamp(2rem, 3vw, 4rem);
}

.greeting-message {
  flex: 1 1 auto;

  text-align: right;
}

.greeting-input {
  max-width: 50%;
  flex: 1 1 auto;
}

.greeting-input::placeholder {
  color: #9c9c9c;
  opacity: 1;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1 1 auto; 
  width: 100%;
  height: 30vh;
  padding: 2rem;
}

.settings-button {
  background: url(../img/svg/settings-icon.svg);
}

.pop-up-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  /* background-color: rgba(231, 9, 9, 0.5); */

  visibility: hidden;
}

.pop-up-settings {
  position: absolute;
  left: 0;
  bottom: 0;

  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in;

  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 40vw;
  padding: 1rem;

  font-size: 1.6rem;

  background-color: #000000;
}

.visible{
  visibility: visible;
  opacity: 1;
}

label {
  display: inline-block;
  width: 15rem;
  text-align: end;
}

option,
select {
  background-color: black;
  color: white;
}

.label-tag, 
.input-tag {
  transition: 1s;
}

.quote-wrapper {
  margin: 0 auto;

  font-size: 1.6rem;
  text-align: center;
}

.button-refresh {
  background: url(../img/svg/refresh-icon.svg);
  transition: transform 1s;
}

.blockquote::before {
  content: '\201C';
}

.blockquote::after {
  content: '\201D';
}
.social {
  display: flex;
  gap: 0.5rem
}

.copywright {
  font-size: 1.6rem;
}

.github-logo {
  display: block;
  width: 48px;
  height: 48px;

  background: url(../img/svg/github-logo.svg);
}

.rsschool-logo {
  width: 48px;
  height: 48px;

  background: url(../img/svg/rsschool-logo.svg) center / contain no-repeat;
}