*, *::before, *::after {box-sizing: border-box;}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background: no-repeat center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #FFFFFF;

  transition: 1s ease-out;
}

.input {
  box-sizing: border-box;
  color: #ffffff;

  background: transparent;
  border: none;
  outline: none;
}

.button {
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 1 auto;
  height: 30vh; 
  padding: 2rem;
}

.audio-player {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem;
  font-size: 1.6rem;
  list-style: none;
}

.prev-track {
  background: url(../img/svg/audio-prev.svg);
}

.play {
  background: url(../img/svg/audio-play.svg);
}

.pause {
  background: url(../img/svg/audio-pause.svg);
}

.next-track {
  background: url(../img/svg/audio-next.svg);
}

.current-track {
  color: #f1cf0b;
}

.weather-container {
  max-width: 18rem;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 1.6rem;
}

.weather-input {
  width: 100%;
  padding: 0.5rem;
  
  border-bottom: 1px solid #FFFFFF;

  font-size: 2rem;
}

.weather-icon {
  width: 75px;
  height: 75px;

  background-position: center;
  background-size: contain;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex: 1 1 auto;

  height: 40vh;
}

.slider-button {
  position: absolute;
  top : 50%;
  transform: translateY(-50%);
}

.slider-button:hover {
  cursor: pointer;
}

.slider-button.left {
  background: url(../img/svg/slider-prev.svg); 
}

.slider-button.right {
  right: 0;

  background: url(../img/svg/slider-next.svg);

}

.time,
.date,
.greeting-container {
  margin: 1rem 0;
  padding: 5px;

  /* color: #ffffff; */
  text-align: center;
}

.time {
  font-weight: 700;
  font-size: clamp(4.5rem, 10vw, 10rem);
} 

.date {
  font-size: clamp(1.5rem, 2vw, 2.4rem);
}

.greeting-container {
  display: flex;
  gap: 1rem;

  font-size: clamp(2rem, 3vw, 4rem);
}

.greeting-message {
  flex: 1 1 auto;

  text-align: right;
}

.greeting-input {
  max-width: 50%;
  flex: 1 1 auto;
}

.greeting-input::placeholder {
  color: #9c9c9c;
  opacity: 1;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1 1 auto; 
  width: 100%;
  height: 30vh;
  padding: 2rem;
}

.settings-button {
  background: url(../img/svg/settings-icon.svg);
}

.quote-wrapper {
  /* width: 60%; */
  margin: 0 auto;

  font-size: 1.6rem;
  text-align: center;
}

.button-refresh {
  background: url(../img/svg/refresh-icon.svg);
  transition: transform 1s;
}

.blockquote::before {
  content: '\201C';
}

.blockquote::after {
  content: '\201D';
}