html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background: no-repeat center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;

  color: #FFFFFF;

  transition: 1s;
  transition-delay: 300ms;
}

.input {
  box-sizing: border-box;
  color: #ffffff;

  background: transparent;
  border: none;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto; 
  padding: 2rem;
}

.weather-container {
  max-width: 15rem;
  flex-basis: content;
  font-size: 2rem;
}

.weather-input {
  width: 100%;
  padding: 0.5rem;
  
  border-bottom: 2px solid #FFFFFF;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex: 1 1 auto;
}

.slider-button {
  position: absolute;
  top : 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
}

.slider-button:hover {
  cursor: pointer;
}

.slider-button.left {
  background: url(../img/svg/slider-prev.svg); 
}

.slider-button.right {
  right: 0;

  background: url(../img/svg/slider-next.svg);

}

.time,
.date,
.greeting-container {
  margin: 1rem 0;
  padding: 5px;

  /* color: #ffffff; */
  text-align: center;
}

.time {
  font-size: clamp(4.5rem, 10vw, 10rem);
} 

.date {
  font-size: clamp(1.5rem, 2vw, 2.4rem);
}

.greeting-container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;

  font-size: clamp(2rem, 3vw, 4rem);
}

.greeting-message {
  flex: 1 1 auto;

  text-align: right;
}

.greeting-container .input {
  max-width: 50%;
  flex: 1 1 auto;
}

.greeting-container .input::placeholder {
  color: #9c9c9c;
  opacity: 1;
}

/* Footer */

.footer {
  flex: 1 1 auto; 
}